html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    title JABA Annual Report 2014
    link( href='main.css' rel='stylesheet' type='text/css')
    link( rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Carme")
  body(
    )
    .header
      include ./includes/title
    .content
      //- include ./includes/services
      include ./includes/needs
      include ./includes/contributions
      include ./includes/financials
      //- include ./includes/donors
    .footer
      include ./includes/credits


    script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.6.0/lodash.min.js')
    script(src='jabacares.min.js')
