// @import "base.styl"

background = #edeae6
background-gradient-top = #ffffff
background-gradient-bottom = #DBE2D7
link-color = #9D91B6

boxit = false

html, body
  width 100%
  padding 0
  margin 0
  overflow-x hidden

*
  -webkit-box-sizing  border-box
  -moz-box-sizing  border-box
  box-sizing  border-box

html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label
  margin  0
  padding  0
  border  0
  font-size  100%
  font  inherit
  vertical-align  baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display  block

html, body
  line-height  1
  min-height 100%
  font-family  Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif

body

  if boxit
    *
      border 1px solid yellow
      *
        border 1px solid red
        *
          border 1px solid green

  background-color background
  // background  background-gradient-top
  // background  -webkit-linear-gradient(top, background-gradient-top, background-gradient-bottom 100%)
  // background  -moz-linear-gradient(top, background-gradient-top, background-gradient-bottom 100%)
  // background  -o-linear-gradient(top, background-gradient-top, background-gradient-bottom 100%)
  // background  -ms-linear-gradient(top, background-gradient-top, background-gradient-bottom 100%)
  // background  linear-gradient(top, background-gradient-top, background-gradient-bottom 100%)
  // background-attachment fixed

ol, ul
  font-family  Helvetica, Verdana, Futura, Lucida-sans, sans-serif
  list-style  none

p
  margin 1em 0
  line-height 1.1em

q
  font-style italic
  color #333

h1
  font-size 2.91em
  margin 0

h1 > small
  text-align right
  display inline-block
  font-size .71em
  text-indent 15em
  color #444

h2
  color inherit
  font-size 1.91em
  margin 2em 0 1em 0

h2 first-child
  margin-top 0

h3
  color #333
  font-size 1.41em
  margin 1em 0

h4
  color #444
  font-size 1.11em
  margin 1em 0

a
  color link-color
  text-decoration none
  &:hover
    border-bottom 1px dashed link-color
