@require 'helpers'
#facilities
  background-color #685BA3
  color #fff
  width 100%
  display inline-block
  font-size 1.2em
  position relative
  h2, h3
    font-size 2vw
    font-family font-header
    text-align center
    margin 1em auto .5em
    color #fff

  img
    width 90%
    margin 5% auto
    max-width 1000px
    display block
