@require 'helpers'
chart-size = 500

path
  cursor pointer

#financials
  background-color #333
  color #fff
  width 100%
  display inline-block
  font-size 1.2em
  h2, h3
    font-family font-header
    text-align center
    color #fff
  h2
    margin .75em auto .5em
  h3
    margin 0 auto .5em

.revenues
.expenses
  position relative
  width 49%
  min-width (chart-size)px
  text-align center
  display inline-block
  ol
    width (chart-size/2 + 25)px
    li
      margin 1px 0

#expense-table
#revenue-table
  //make same as chart for centering purposes
  height (chart-size/3)px
  text-align left
  float none
  position absolute
  max-width 275px
  width 49%
  left 0
  right 0
  margin 0 auto
#expense-table
  top 175px
  font-size .9em
#revenue-table
  top 225px


.budget-line
.amount
  font-family font-serif
  display inline-block
  padding .1em 0 .1em .3em

.budget-line
  max-width 200px

.amount
  font-size 14px
  float right

.clicked
  color yellow


.fed
  border-left 3px solid #a9bccd
.state
  border-left 3px solid #295882
.local
  border-left 3px solid #67b244
.investment
  border-left 3px solid #685ba3
.fee
  border-left 3px solid #bb2d17
.philanthropy
  border-left 3px solid #eb9000
.affiliate-revenue
  border-left 3px solid #368a8d
.senior-center
  border-left 3px solid #000000
.health
  border-left 3px solid #a9bccd
.meals
  border-left 3px solid #295882
.info-assist
  border-left 3px solid #67b244
.counseling
  border-left 3px solid #685ba3
.ombudsmen
  border-left 3px solid #bb2d17
.affiliate-expense
  border-left 3px solid #eb9000
.care-center
  border-left 3px solid #368a8d
.transportation
  border-left 3px solid #359207
