#financials
  background-color #000
  color #fff
  width 100%
  height 100%
  display inline-block

.revenues
.expenses
  position relative
  float left
  width 50%
  text-align center

#expense-chart
#revenue-chart
  float none
  top 0
  left 0

#expense-table
#revenue-table
  //make same as chart for centering purposes
  width 600px
  height 600px
  text-align left
  float none
  position absolute
  left 25%
  top 40%

.budget-line
.amount
  display inline-block
  padding .1em .5em

.amount
  float right
