
dark-high-contrast = #fff
dark-contrast = #ccc
muted = #aaaaaa
dark = #333333
font-header = Carme
font-sans = Carme, Helvetica, Verdana, Futura, Lucida-sans, sans-serif
font-serif = Palitino, Garamond, Cambria, "Calisto MT", Baskerville, serif

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

