@require 'helpers'
@import 'jquery-ui.min.css'
@import 'jquery-ui.structure.min.css'
@import 'jquery-ui.theme.min.css'
@import 'jaba-icons.css'
@import 'virginia.css'
@import 'base'
@import 'community'
@import 'financials'
@import 'services'
@import 'donors'
@import 'places'
@import 'facilities'

body
  min-width 800px

.header
.footer
.content
  margin 0
  padding 0
  // position relative

.content
  background-color #edeae6

.header
  border-top 1px solid #a9bccd
  #title
    color #295882
    border-top
    padding 1em
    background-color #a9bccd
    .name
      margin 1.5em 2em 0
      float right
      font 400 2.0em/2.0 font-sans
    .logo
      margin 2.5em 3em 1.5em
      width 120px



#progress
  height 2%
  background #444
  bottom 0
  z-index 101

#properties
  width 100%
  height 100%
  padding-top 10%
  text-align center
  -webkit-box-sizing  border-box
  -moz-box-sizing  border-box
  box-sizing  border-box

#credits
  display none
  position absolute
  top 90%
  right 2em
  color muted

// line to connect the circles
.connector{
    padding:0px;
    margin:0px;
    height:0px;
    line-height:1px;
    position:absolute;
    z-index=0;
}
