@require 'helpers'
@import 'jaba-icons.css'
@import 'virginia.css'
@import 'base'
@import 'community'
@import 'financials'
@import 'services'
@import 'donors'
@import 'places'
@import 'fixed-header'
@import 'facilities'

body
  min-width 800px
  max-width 1440px
  background-color #9f9f9f
  margin 0 auto

.header
.footer
.content
  margin 0
  padding 0

.content
  background-color #edeae6

.header
  border-top 1px solid #a9bccd
  #title
    padding .5em 0
    margin-top 40px

    color #295882
    background-color #a9bccd
    .name
      margin 1.5em 2em 0
      float right
      font 400 2.0em/2.0 font-sans
    .logo
      margin 2.5em 3em 1.5em
      width 120px

.footer

  width 100%

#credits
  text-align right
  padding 1em 2em
  margin 0 0 2em
  background-color #685ba3
  color muted
  .credit
    margin .5em 0
  a
    margin 0 .25em
    text-decoration none
    &:hover
      border-bottom 1px dashed #999

  .okc
    font-size 1.1em
    a
      color #fff
  .small
    font-size .9em
  .hidden
    display none

// line to connect the circles
.connector{
    padding:0px;
    margin:0px;
    height:0px;
    line-height:1px;
    position:absolute;
    z-index=0;
}
