@require 'helpers'
#places
  background-color #9DC6EB
  color #fff
  width 100%
  display inline-block
  font-size 1.2em
  h2, h3
    font-size 2vw
    font-family font-header
    text-align center
    margin 1em auto .5em
    color #364782

  position relative
  .munis
    font-size 4vw
    span
      width (100/6)%
      display inline-block
      padding 1vw
      margin 0 auto
      text-align center
      cursor pointer
      &:hover
        color #333



  .virginia-nelson
    color #fff
  .virginia-charlottesville
    color #fff
  .virginia-albemarle
    color #fff
  .virginia-louisa
    color #fff
  .virginia-fluvanna
    color #fff
  .virginia-greene
    color #DFFFD0
