@require 'helpers'


#services
  border-radius(1em)
  width 200px
  display inline-block
  border 1px solid white
  position fixed
  left 0
  right 0
  top 250px
  font 400 .9em/1.5 font-sans
  background-color #b5be33
  color #fff
  text-align center
  margin 1em auto
  z-index 200

  h2
    font 500 2.0em/1.7 font-serif
    border-bottom 1px dashed #ffffff
    margin 0 1em
  ol, ul
    margin 1em 0 1em
  li
    &:hover
      color dark-high-contrast
      cursor pointer
      font-size 1.0em

  .bright
    color red
