@require 'helpers'


#services
  border-radius(1em)
  width 25%
  display inline-block
  border 1px solid white
  position absolute
  left 0
  right 0
  top 50%
  font 400 1.1em/1.5 font-sans
  background-color #b5be33
  color #fff
  text-align center
  margin 1em auto

  h2
    font 500 2.0em/1.7 font-serif
    border-bottom 1px dashed #ffffff
    padding .5em 1em .1em
    margin 0 1em
  ol, ul
    margin 1.5em 0 1em
  li
    &:hover
      color dark-high-contrast
      cursor pointer
      font-size 1.0em

