#community
  .container
    //- include services

    .row
      h2.need Community Needs
      h2.contribution Our Contributions

    .row
      .need.navigating
        .circle
          .jaba-question
        .description 40% of seniors don't use the internet at all and require direct support navigating Medicare and accessing community resources
      .contribution.medicare
        .circle
          .jaba-info
        .description
          .big-number 4,564
          | people benefitted from hands-on assistance through JABA’s Information & Assistance services in making personal decisions such as choosing long-term care, creating wills, understanding dual eligibility, getting started in Medicare, handling financial confusions, plus receiving introduction to viable community resources


    .row
      .need.social-isolation
        .circle
          .jaba-old-man
        .description As much as 43% of older adults experience social isolation increasing their risk of serious physical and mental health problems
      .contribution.advocacy(title='As reported in Virginia’s No Wrong Door Information System, October 1, 2013 – September 30, 2014.')
        .circle
          .jaba-group-hug
        .description
          .big-number 4,352
          | people in Planning District Ten were relieved from loneliness, caused by physical, emotional or linguistic isolation, through involvement in JABA’s Community Senior Centers where they enjoy friendship and activities. Residents of nursing homes and assisted living facilities are continuously overseen by advocacy services to protect individual rights and JABA Friendly Visitors impact loneliness of the home-bound, one visit at a time


    .row
      .need.food-insecurity
        .circle
          .jaba-empty-plate
        .description In our planning district, food insecurity strikes 7.1% of people 65+
      .contribution.meals(title='')
        .circle
          .jaba-hot-meal
        .description
          .big-number 731
          | people in Planning District Ten were able to maintain a lifestyle that enabled them to focus on other key areas of their life other than where the next meal is coming from because of they received a daily hot, nutritious meal from JABA


    .row
      .need.caregivers
        .circle
          .jaba-admitted
        .description Unpaid caregivers provided an estimated 90% of all long-term care in this country. Half admit that their health has suffered as a result
      .contribution.caregiver-support
        .circle
          .jaba-assistance
        .description
          .big-number 195
          | people in our planning district enjoy peace of mind because their loved one is safe during the day, while they remain actively employed themselves, thus improving the quality of a senior’s day life and allowing the caregiver the health and time to provide for the family



    .row
      .need.healthcare-reform
        .circle
          .jaba-costly-drugs
        .description 89% of seniors need more information about healthcare reform and its impact on Medicare, their own budgets, and their long-term security
      .contribution.security(title='Information collected during individual interviews for financial and insurance counseling and group presentations and reported in Senior Medicare Patrol reporting tool, October 1, 2013 – September 30, 2014.')
        .circle
          .jaba-medicine
        .description
          .big-number 2,137
          | people were assisted by JABA counselors in making a sound judgment on Medicare prescription coverage, personal financial wellness and Affordable Care Act marketplace decisions




    .row
      .need.institution
        .circle
          .jaba-costly-care
        .description As many as 89% of seniors want to age at home. More than half express concern about how they might be able to do so
      .contribution.home
        .circle
          .jaba-aging-at-home
        .description
          .big-number 3,012
          | people —previously deemed nursing home eligible — were provided a safe, secure environment in their own homes while still receiving medical oversight

