#contributions
  .container
    h2 Our Contributions
    .medicare
      .block
        .circle
          .jaba-info
        .description
          .big-number 4,564
          | people benefitted from hands-on assistance through JABA’s Information & Assistance services in making personal decisions such as choosing long-term care, creating wills, understanding dual eligibility, getting started in Medicare, handling financial confusions, plus receiving introduction to viable community resources
    .advocacy
      .block
        .circle
          .jaba-group-hug
        .description
          .big-number 4,352
          | people in Planning District Ten were relieved from loneliness, caused by physical, emotional or linguistic isolation, through involvement in JABA’s Community Senior Centers where they enjoy friendship and activities. Residents of nursing homes and assisted living facilities are continuously overseen by advocacy services to protect individual rights and JABA Friendly Visitors impact loneliness of the home-bound, one visit at a time
    .meals
      .block
        .circle
          .jaba-hot-meal
        .description
          .big-number 731
          | people in Planning District Ten were able to maintain a lifestyle that enabled them to focus on other key areas of their life other than where the next meal is coming from because of they received a daily hot, nutritious meal from JABA
    .caregiver-support
      .block
        .circle
          .jaba-assistance
        .description
          .big-number 195
          | people in our planning district enjoy peace of mind because their loved one is safe during the day, while they remain actively employed themselves, thus improving the quality of a senior’s day life and allowing the caregiver the health and time to provide for the family
    .security
      .block
        .circle
          .jaba-medicine
        .description
          .big-number 2,137
          | people were assisted by JABA counselors in making a sound judgment on Medicare prescription coverage, personal financial wellness and Affordable Care Act marketplace decisions
    .home
      .block
        .circle
          .jaba-aging-at-home
        .description
          .big-number 3,012
          | people —previously deemed nursing home eligible — were provided a safe, secure environment in their own homes while still receiving medical oversight
