#contributions
  .container
    h2 Our Contributions
    .medicare
      .block
        .circle
          .icon-info
        .description
          .big-number 4,564
          | people benefitted from hands-on assistance in choosing long-term care,  understanding dual eligibility and establishing Medicare benefits.
    .advocacy
      .block
        .circle
          .icon-group-hug
        .description
          .big-number 4,352
          | seniors used our Community Senior Centers to obtain advocacy services and engage in crucial social activities
    .meals
      .block
        .circle
          .icon-hot-meal
        .description
          | JABA provided hot, nutritious meals to
          .big-number 731
          | people daily
    .caregiver-support
      .block
        .circle
          .icon-assistance
        .description
          .big-number 195
          | caregivers remain employed and gain peace of mind while their loved one participate in adult care centers, home care, or respite care
    .security
      .block
        .circle
          .icon-medicine
        .description
          | JABA certified counselors assisted
          .big-number 2,137
          | people enrolling in Medicare prescription coverage and Affordable Care Act (ACA) decisions.
    .home
      .block
        .circle
          .icon-aging-at-home
        .description
          .big-number 3,012
          | people previously deemed nursing home eligible received medical oversight and other services allowing them to remain at home
