#credits
  | Icons made by &nbsp;
  a(href='http://www.flaticon.com/authors/freepik' title='Freepik') Freepik &nbsp;
  | from &nbsp;
  a(href='http://www.flaticon.com' title='Flaticon') www.flaticon.com &nbsp;
  | is licensed by &nbsp;
  a(href='http://creativecommons.org/licenses/by/3.0/' title='Creative Commons BY 3.0') CC BY 3.0 &nbsp;
