#credits
  .credit.okc
    | Original artwork and design by
    a(href="http://www.okcollaborative.org" title="Open Knowledge Collaborative") Open Knowledge Collaborative
    | © 2015. All rights reserved.

  .credit.small
    | Additional art created by
    a(href="http://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce") Daniel Bruce,
    a(href="http://www.flaticon.com/authors/dave-gandy" title="Dave Gandy") Dave Gandy,
    a(href="http://www.flaticon.com/authors/ocha" title="OCHA") OCHA,
    a(href="http://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu") Bogdan Rosu,
    a(href="http://www.flaticon.com/authors/freepik" title="Freepik") Freepik,
    a(href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes") Elegant Themes,
    a(href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon") SimpleIcon,
    | and
    a(href="http://www.flaticon.com" title="Flaticon") Flaticon
    | and is licensed under
    a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0") CC BY 3.0

    .hidden
      | Andrew Steptoe, Aparna Shankar, Panayotes Demakakos, and Jane Wardle. Social isolation, loneliness, and all-cause mortality in older men and women
      | PNAS 2013 110 (15) 5797-5801; published ahead of print March 25, 2013, doi:10.1073/pnas.1219686110. Avail. at http://www.pnas.org/content/110/15/5797.abstractAaron Smith. Older Adults and Technology Use. Available at http://www.pewinternet.org/2014/04/03/older-adults-and-technology-use/
