#donors
  h2 Donors Make Our Work Possible
  h2 Cash and In-Kind Gifts to Jaba, Inc.
  h4 Fiscal Year 2014 (October 1, 2013 - September 30, 2014)
  h3 $25,000 +
  ol.donors
    li blue moon fund
    li The Charles Fund
    li The Genan Foundation
    li Walmart Foundation
    li Williams Mullen Law Firm

  h3 $10,000 - 24,999
  ol.donors
    li Adelman Family Foundation
    li Bama Works Fund of Dave Matthews Band, c/o CACF
    li Batten Family Fund, c/o CACF
    li Community Endowment Fund, c/o CACF
    li Jannie Pauline Carr Woodson Charitable Trust

  h3 $5,000 - 9,999
  ol.donors
    li Adiuvans Fund
    li Dr. Lester S. Andrews
    li I.J. and Hilda M. Breeden Foundation
    li C-VILLE Weekly
    li Commonwealth of Virginia Campaign
    li William A. Cooke Foundation
    li Darden Executive Education Program, UVA Darden School
    li Mrs. Wanna M. Ernst
    li Andrea and Peter Gavin and Family
    li Hancock Financial Group
    li Louisa County Community Fund, c/o CACF
    li Nelson County Community Fund, c/o CACF
    li Richard and Judy Nunley
    li Martha Tarrant Fund, c/o CACF
    li Walmart Foundation/ Distribution Center #7016
    li Westminster-Canterbury of the Blue Ridge

  h3 $1,000 - 4,999
  ol.donors
    li Albemarle Carpet & Upholstery Cleaners
    li Alvin L. Anderson
    li Richard J. Brewer, Jr. and Denise Y. Lunsford
    li CFA Institute
    li Crutchfield Corporation
    li CVS Caremark
    li Dominion Employee Giving Program
    li Milton T. Edgerton, M.D.
    li Elisa Ferrante
    li Mr. Eugene Foster
    li Mrs. Barbara J. Fried
    li GE Foundation
    li Goodwill Industries SCSEP Program
    li Dr. and Mrs. William W. Grosh
    li Lily and James Hargrove
    li Deborah J. Johnston
    li Junior League of Charlottesville
    li William J. Kehoe
    li Jill J. Klinchock
    li Kathleen M. Ladika
    li Linden Communication Group
    li Leonard and Carole Lohman
    li Mr. and Mrs. Eugene Joseph Meyung
    li Mr. and Mrs. Leigh B. Middleditch, Jr.
    li MS Events
    li Old Dominion Electric Cooperative
    li Constance and George Palmer, III
    li Sally H. Paschal
    li Kim and Bill Peel
    li Eugene P. Pollock
    li Leslie L. Reed
    li Rockfish Presbyterian Church
    li Judith and Kent Schlussel
    li SNL Cares Foundation
    li The Whitney and Anne Stone Foundation
    li United Way - Thomas Jefferson Area
    li Chris and Ann VonFrieling
    li Autumn Wade
    li Virgil Wagner
    li Walmart Foundation - Charlottesville Store #1780
    li Joseph and Carolyn Warden
    li Wells Fargo Foundation
    li Westminster Presbyterian Church
    li William M. Camp Foundation
    li Wrightson Ramsing Foundation, Inc.

  h3 $500 - 999
  ol.donors
    li Albemarle Garden Club
    li Kathleen A. Anzalone
    li Donna K. Baker
    li Mr. and Mrs. William A. Benner
    li Jennifer L. Bivens
    li Jean Bourbeau
    li Lt. Colonel F.R. Bowie and Barbara Bowie
    li Lawrence R. Burwell, M.D.
    li County of Greene
    li Critical Signal Technologies, Inc.
    li Ginger Dillard
    li Josie Grady
    li Robin Hanes
    li Marta M. Keane
    li Julie A. Matsumoto
    li Donna M. McGrath
    li Thomas J. Michie, Jr.
    li Matthew B. and Mary P.Y. Murray
    li Panorama Paydirt, LLC
    li Gilbert and Virginia Roy
    li Mrs. Dell W. Smith
    li Virginia Business Interiors, Inc.
    li Vamik Volkan, M.D. and Betty Volkan
    li Walmart Foundation - Ruckersville Store #4638

  h3 $100 - 499
  ol.donors
    li John A. Adams
    li Betty L. Aguilar
    li Thomas and Elizabeth Allan
    li Margaret C. Anderson
    li Mr. and Mrs. Alvin L. Arnold
    li Annette Baehne
    li Mrs. Eleanor G. Baird
    li Ms. Katherine M. Baker
    li Denise M. Barisonzi
    li Nina and Dennis W. Barnes
    li Joan A. Bascom
    li Martin and Ruthe Battestin
    li Mr. and Mrs. John C. Beard
    li Alan Beckenstein and Meg Hargrave
    li Gaylon and   Linda Beights
    li Ms. Carol Walker Bell and Lynwood J. Bell
    li Carolyn J. Belt
    li Nancy and Edward Bertram, III
    li Melody Bianchetto
    li The Boxley Place Inn
    li Mr. and Mrs. Thomas M. Boyd, Jr.
    li James W. Brackens, Sr.
    li Robert J. Bradley and Robert F. Arms
    li Ron and Roxanne Broadbent
    li Benjamin T.B. Brown, M.D.
    li Lucy A. Brown
    li David and Delores Brush
    li Jill Bryson
    li Carol W. Buckner
    li Ed and Mary Buynacek
    li Curtis and Carolyn Byers
    li Peggy Byrd
    li Robert E. Campbell
    li Paul Harris Cantrell
    li Mr. and Mrs. Robert S. Capon
    li Marianne Capone
    li Mr. and Mrs. Francis A. Carey
    li Grace and Gene Carpenter
    li Susan C. Carr
    li Dr. Freeman H. Cary
    li Charles W. Cheape, III
    li Mr. and Mrs. Herbert C. Christoferson
    li Ms. Evangeline Cleage
    li Mr. and Mrs. Alvin R. Clements
    li G.R. and Beth Cobham
    li Joyce Galbraith Colony
    li Combined Federal Campaign
    li Ms. Cheryl K. Cooper
    li Philip and Carol Cooper
    li Dimitra Arthur Costan
    li T. Peyton and Carol Coyner
    li Carl Cramer
    li Gary and Mary Beth Cramer
    li Mrs. Nancy Cranwell
    li Thomas and Penelope Crisp
    li Ruth C. Cross
    li Whitman Cross, II and Joy L. Cross
    li Crozet   Lions Club
    li Jo Anne Currie
    li Loreli B. Damron
    li Audrey Ann Dannenberg
    li Susan W. Davenport & W. Edgar Spigle Fund c/o CACF
    li Mrs. Coralee B. Davis
    li Richard W. Davis
    li Richard and  Linda De Mong
    li Norma Dean
    li Polly and David Deck
    li Claire DeLaura
    li Christine S. Denton
    li Greta G. Dershimer
    li Vicki and Steve Dibbern
    li Leslie S. Diehl
    li Doctors Rudman, Gupta, Silverstein, Nair and Gundamraj
    li Jean H. Dooley
    li Patrick B. Dougherty
    li Mr. and Mrs. Andrew J. Dracopoli
    li Hubert and Inez Dreckmann
    li Richard and Sue Drumm
    li Carol C. Dudding
    li Claudia Reeves Duncan
    li Peter and Carol Easter
    li Ms. Deborah Ann El
    li David Elbaor
    li Bryan and Donna Elliott
    li Ms. Marilyn C. Eubank
    li ExxonMobil Foundation Matching Gifts Program
    li J. Rose Farber
    li Susan Fenn
    li Mr. and Mrs.   Lionel Fernandez
    li Eleanor V. Finger (Estate of)
    li Brenda A. Fishel
    li Mr. and Mrs. Edward S. Fisher
    li Wendy Waldner Flynn
    li Ben Forrest
    li The Fresh Market
    li Lee Freudberg
    li Susan Bell Friedman and Frank Friedman
    li Christopher and Pamela W. Gale
    li Nancy Lee Gillies
    li Helen and Arthur Given
    li Jennifer Giza
    li Elizabeth Shirk Glynn
    li Grace Episcopal Church (Bremo Bluff)
    li Heywood and Judy Greenberg
    li William and Ann Grey
    li Mrs. Julann Griffin
    li Mrs. Virginia Wayne Harbaugh
    li Arnom and Julia Harris
    li William and Margaret Harvey
    li Adam Hastings
    li Laura F. Hawthorne
    li Jan S. Heischman
    li Bob and Sharon Helt
    li Ms. Sarah P. Hendley
    li Mary Alice Hennigan
    li Fred and Mary Buford Hitz
    li Mr. and Mrs. Edward L. Hogshire
    li James P. Holden
    li Carol Hood
    li William M. Hughes
    li Satyendra Singh Huja
    li Mr. and Mrs. Donald F. Hunt
    li Ms.  Lida I. Hurst
    li Marcia Invernizzi
    li Larry and Roussie Jacksina
    li Bishop Michael V. Jackson, Sr.
    li Ted Jackson
    li Rosemary Jarman
    li Margaret J. Jess
    li Edward J. Jones, Jr.
    li Daniel and Ada Josephthal
    li Dr. and Mrs. John Kattwinkel
    li Mr. and Mrs. Charles R. Kaut
    li Vivien and John Richard Keane
    li Georgia D. Kegley
    li James L. Kelly
    li Ms. Lucie S. Kelly
    li Mr. and Mrs. J.A. Kessler, Jr.
    li Art and Sue Keyser
    li Knights of Columbus, Father Cunningham Council
    li Mr. and Mrs. Kevin T. Kollar
    li Howard Kutchai
    li John L. Lanham, M.D.
    li Glenn and Celia Lankford
    li Victor C. Lee and Ms. Nancy A. Holland
    li Amy J. Leider
    li Mrs. Ann W. Leonard
    li Mr. and Mrs. David A. Lewis
    li Richard W.   Lindsay, M.D.
    li Fred and Helen Lo
    li Joyce F. MacDonald
    li Kelley MacDougall
    li Leonard and Grace Mailloux
    li James and Gina Mallon
    li Patricia V. Marshall
    li Susan D. Martin and Kevin Terhaar
    li Mr. and Mrs. David J. McCarthy, Jr.
    li James H. McGrath, III
    li Mary B. McKinley
    li Mr. G. Neil Means and Ms. Susan L. Roark
    li Richard and Elizabeth Merrill
    li Chita and Rick Middleton
    li Jeffrey Moore
    li Tammie Moses
    li Sally C. Nelson Fund, c/o CACF
    li John Noggle
    li Stephanie and James Nohrnberg
    li Karen and Marshall Norman
    li Mr. and Mrs. David E. Normansell
    li Tom and Genevieve Obrig
    li James and Phyllis Olin
    li Our Lady of Peace Protestant Chapel
    li Samuel M. Page
    li Virginia Paist
    li David and Helen Parrish
    li Elayne K. Phillips, Ph.D.
    li The Piedmont Master Gardeners Association
    li Sandra Pleasants
    li Leo and Frances Ponton
    li Mrs. Eleanor S. Porter
    li Michael and Karen Powell
    li Providence Orthodox Presbyterian Church
    li Ms. Betty Jane Prufer
    li Margaret and Frank J. Quayle, III
    li Fannie Ranki-Vinci
    li Mrs. Judy Y. Rasmussen
    li Mrs. L.A. Reaser
    li Laura L. Richardson
    li Mr. and Mrs. Joseph Richmond, Jr.
    li Dudley and Lois Rochester
    li Dennis and Ann Rooker
    li Mrs. Jack B. Sagendorf
    li Mr. and Mrs. A. Clarence Sampson
    li Allison and Thomas Schildwachter, M.D.
    li Susan M. Seidler
    li R. Keith and Teresa Shaner
    li Ms. Jannene L. Shannon and Mr. Robert Sack
    li Robert and Patricia Shellard
    li Bill and Missy Shenkir
    li Mrs. Joanne B. Shepherd
    li Mr. and Mrs. William W. Sihler
    li Roland H. Simon
    li Mr. and Mrs. Darrell L. Slover
    li Mr. and Mrs. Robert T. Smith
    li Peter Spaar, III
    li Debbie S. Spitler
    li Mary Stockner St. Clair
    li John C.A. Stagg
    li Jodie Stevens
    li Drew Stevenson
    li Alex Stricker
    li The Betty F. Strider Trust
    li Bob and Helen Stroh
    li Eugene V. Sullivan
    li Paul D. Summers, Jr.
    li Ellen Roberts Susi
    li Mr. and Mrs. Douglas M. Taylor
    li Mrs. Helen Thiele
    li Larry and Becky Thomas
    li Thomas Jefferson   Lions Club
    li Dr. and Mrs. A.R. Thompson
    li Mr. and Mrs. W. McIlwaine Thompson, Jr.
    li Thelma N. Tinsley
    li Trader Joe's
    li Robert H. Trent
    li Margaret-Anne Turner
    li Sandra Turner-Purvis
    li Fred and Loretta Twyman
    li United Way of South Hampton Roads
    li Mr. and Mrs. Theo van Groll
    li Bitsy and David Waters, M.D.
    li Rick and Sally Watson
    li Elizabeth B. Watts
    li Dr. and Mrs. Geoffrey Weiss
    li Mr. and Mrs. Robert L. Wessel
    li Bob West and Company, LLC
    li Bob and Jane Whitworth
    li Christine L. Wiedman and Tang Tang
    li Andrea R. Wilkinson
    li Barry D. Willard
    li Mr. and Mrs. David B. Wilson
    li Women of the Moose, Chapter #1850
    li Elizabeth H. Woodard
    li Dr. Theodore R.F. Wright
    li Curtis D. Yohe
    li Robert E. Young
    li Mr. Michael and Ms. Toby Zakin
    li Carter C. Ziegler

  h3 Up to $99
  ol.donors
    li William and Eleanor Abbot
    li Dr. and Mrs. Henry J. Abraham
    li Mrs. Tessa G. Ader
    li Knight Aldrich, M.D.
    li Carol Harriet Alexander
    li Ameritas   Life Insurance Corp.
    li Mr. and Mrs. Memet C. Anday
    li Robert V. Anderson
    li Lynn A. Appleby
    li Rebecca P. Arrington
    li Orrin and Bridget Arvold
    li Mr. and Mrs. Everett E. Backe
    li Gerard and Mary Ellen Bambrick
    li Bankers Insurance, LLC
    li Gerda M. Bansleben
    li Ruth and Paul Barolsky
    li Mrs. Yvonne Barrow
    li Jeanne Bauer
    li Mrs. Charles Baxter
    li Elmer R. Beach
    li Taylor and Kathie Beard
    li Gene and Norma Beck
    li Mr. and Mrs. Wayne F. Beddow
    li Mrs. Wallace C. Bedell
    li Reta Belk
    li Mr. and Mrs. Donald L. Bell
    li Susan G. Bender
    li Benjamin and Helga Bennett
    li Joseph W. Bernheim, M.D.
    li Eugenia Bibb
    li Mrs. Frances M. Biedler
    li Mr. and Mrs. Bernard O. Bishop, Jr.
    li Donna W. Blessing
    li Diane L. Bloom
    li Adie Blum
    li Katha Bollfrass
    li Deanna J. Bowman
    li Margaret L. Brackett
    li Carol E. and A. James Brinkerhoff
    li Lydia S. Briscoe
    li Bristles
    li Linda M. Broadbent
    li Annette Brooks
    li Robin Brown
    li Teresa Brown
    li Virginia A. Brown
    li Richard P. Bucci
    li Mr. and Mrs. Robert F. Burkholder
    li Gene and Katherine H. Burton
    li Barbara A. Cage
    li Joan and Bob Canevari
    li Garland M. Canter, Jr.
    li Jim and Sarah Cargile
    li Gloria Barry Carrigan
    li Robert M. Carroll
    li Jacqueline D. Carter
    li Mr. and Mrs. Steven L. Carter
    li Luciano and Janet Centini
    li Carol L. Chandross
    li Ramona R. Chapman
    li Ms. Ann V. Charlton
    li Cyrus Clark
    li David and Margaret Clifton
    li Ralph Cohen
    li Jim and Andrea Colbaugh
    li Johnand Martha Coleman
    li Robert C. Coleman
    li Katie Colle
    li Karen S. Collier
    li Anne and Anthony Conway
    li Dale and Joyce Cook
    li Richard S. Crampton, M.D.
    li Bucky and Justine Crickenberger
    li Linda Critzer
    li Pat and Madison Cummings
    li Carol S. Currier
    li Keith and Laurie Curtin
    li F. Ronald and Janet B. Cutright
    li Mrs. Patricia Dabney
    li Christopher and Emily Daidone
    li Robert Dangio, Jr.
    li Daughters of the American Revolution, Jack Jouett Chapter
    li Georgia S. Davidson
    li Mrs. Vernell L. Davidson
    li Bob and Barbara Davis
    li Salvatore R. Dellospidale
    li Norma A. Diehl
    li Cari Dillard
    li Mary Jane Divine
    li Ernie and Janice Dodrill
    li Louis G. and Lois B. Dorsey
    li Jitendra and Kashmira Doshi
    li Ronald and Lorraine Duddleston
    li Ann D. Dunn
    li Wayne and Margaret Durrer
    li Dolores Dwyer
    li Mr. Philip R. Dyer, Sr.
    li Mrs. Soterios J. Economos
    li Ann A. Ergler
    li Mr. Z.J. Estes, Jr
    li Doris H. Faulconer
    li Jim and Betsy Fernald
    li Patricia M. Field
    li Maureen C. Finn
    li Bette and Charles Flickinger
    li Thomas and Karon Flippin
    li Kathy S. Fontenot
    li Jody Forman
    li Ms. Virginia M. Forman
    li Barbara L. Franko
    li Colonel and Mrs. Charles J. Gagliano
    li Joan P. Galesky
    li Ms. Kate B. Galloway
    li Esther and Carl Gardner
    li Mrs. Fay H. Garrison
    li Mr. and Mrs. Michael Garstang
    li Joyce S. Garver
    li G. Lois Gebhardt
    li Harold and Clare Gebhardt
    li Amanda Gendreau
    li Joyce and Bobby Gentry
    li Max L. Gentry
    li Carroll and Robert Gilges
    li Amy and James Gillespie
    li Marie and George Gilmore
    li Ed and Claire Gisler
    li Charlotte Ann Glass
    li Toni and Victor Gonchoroff
    li Harry and Ann Gooch
    li Edith B. Good
    li Patricia W. Goodman
    li John B. Gordon
    li V. Simon and Anne L. Gore
    li Amy Goswick
    li William and Antoinette Gray
    li Mr. and Mrs. John Charles Graysar
    li Chris R. Gredler
    li Captain and Mrs. George W. Greene, USN (Ret)
    li Donald and Carol Grier
    li Mrs. Roberta M. Grimm
    li Norman J. Gross
    li Madeleine and Hans Rudolf Gyr
    li Raymond and Mary Haas
    li Felicia Hall
    li Elizabeth Jeanne Hammond
    li Herbert Hanft
    li Gerri L. Harman
    li Whitney Harris
    li David and Judith Harrison
    li Sheila R. Hazen
    li Ms. Anne F. Henderson
    li Margaret C. Henderson
    li Mr. and Mrs. Laurin L. Henry
    li Anne H. Hicks
    li Bill and Marianne Hickson
    li Mr. and Mrs. Jay Hirsh
    li William and Adelheid H. Hitt
    li Chris and Susann Hogger
    li Henrietta M. Holmes
    li Hal and Del Horan
    li Ronald H. Hoskin
    li Mr. and Mrs. Dennis R. Howard
    li Carter and Stuart Howards, M.D.
    li Mr. and Mrs. Jack D. Howell
    li Sterling and Douglas Hudson
    li Martha I. Hunt
    li J.C. Penney Corporation
    li Phyllis D. Jackson
    li Mrs. Virginia R. James
    li Dr. and Mrs. John A. Jane, Sr.
    li Melva D. Jarrell
    li Dolores E. Johansen
    li Jeannette G. Johnson
    li Sandra B. Jones
    li Timmie and Jerry Jones
    li Allan and Ginny Kanter
    li Ruth Kastenmayer
    li Lori M. Kaufman
    li Mrs. Doris H. Kee
    li Mrs. Christine S. Kennedy
    li Bernadine A. Kennison and Harry R. Kennison
    li Karen and Scott Knierim, D.D.S.
    li Mr. and Mrs. Steve J. Korfanty
    li Elaine Rose Kraus
    li Emil and Nancy Kritzer
    li Mr. and Mrs. George K. Kudravetz
    li Coryne Labry
    li Valerie H. Lamb
    li Fred S. Landess
    li Janet and George Larie
    li Michelle Law
    li Carolyn E. Lawlor
    li Jon S. Lawry
    li Rebecca A. L'Ecuyer
    li Lemons Jewelry
    li Doris Lerusiy
    li Judith Lesiak
    li Mr. and Mrs. J.C. Levenson
    li Colonel and Mrs. Charles S. Lewis
    li Hortense G. Lewis
    li LexisNexis Cares Employee Foundation
    li Lembit and Karen   Lilleleht
    li Marian A.  Limber
    li Elizabeth  Lindsey
    li Douglas and Deborah  Little
    li William A.   Little
    li Galen and Juliet Lloyd
    li Mr. and Mrs. Donald G. Loach
    li Logicalis, Inc.
    li Marsha and Ivan Login
    li Lovingston Physical Therapy
    li Tullia Lynch
    li Zanne Macdonald
    li Anna MacDonald
    li Mr. and Mrs. John D. MacDonald
    li Ms. Elizabeth L. Makel
    li Martha and Dave Makel
    li Ann H. Mallek
    li Louise A. Malloy
    li Andy and Sally Mank
    li Florence Marks
    li Jack F. Marshall and Cri Kars-Marshall
    li Sarah Agnes Marshall
    li Paul and Nancy Jane Martin
    li Dr. Worthy Neil Martin
    li Jeanne B. Maupin
    li Marjorie A. Maxey
    li Miss Eleanor G. May
    li John and Eileen Maybee
    li Charles and Betty McDonald
    li Margaret D. McElroy
    li David McFadden
    li Marina and Donald McGrady
    li Elizabeth F. McLernon
    li Gwen Medic
    li Daniel R. Meeks
    li Paula and Walter Mehring
    li Monica Millbrooks-Scott
    li Dr. Patricia G. Millman
    li Frances W. Mitchell
    li Daisy and David Moga
    li Dennis and Janice Moler
    li Elissa and Carl Montalbano
    li Henry G. Morgan
    li Mary Jane Morris
    li Vernon R. Mowbray
    li Mascha R. Mowry
    li Mrs. Loree J. Munson
    li Mr. and Mrs. Alfred Muoio
    li Merrick and Stephen Murray
    li Cathy R. Musselman
    li My Time Products
    li Carolyn Nakasian
    li Earl Napier
    li Mr. and Mrs. T. Hugh Nelson
    li Mr. and Mrs. Howard W. Newlon
    li Danny and Marsha Newton
    li John and Verna O'Connell
    li Patricia Odend'hal
    li Omega Master Chapter, Beta Sigma Phi
    li Arlene T. Oslin
    li Sherron and James Pace
    li Arlene and Nick Page
    li Betty B. Paine
    li Dr. and Mrs. Harry L. Parlette
    li Deborah and Gordon Parmelee, II
    li John and Lydia Peale
    li Diana Perdue
    li Mr. and Mrs. Edward F. Perlowski
    li Thomas Piccinin
    li Jacqueline and John Pickering
    li Wim J.M. and Thera Pieters
    li John G. Pitek
    li Rena J. Pizzini
    li Merta Platt
    li Raymond and Laverne M. Poindexter
    li Hardy and Vicki Poole
    li Beatrice A. Proffitt
    li Ms. Florence Pugh
    li John and Judith Putalik
    li Gloria B. Ramsey
    li Mrs. Faye R. Reed
    li Ms. Nancy E. Regan
    li Region Ten Community Services Board
    li Barbara J. Reid
    li Steve and Marty Reilly
    li Heena Reiter
    li Stephen and Heena Reiter
    li Yvonne I. Rella
    li Linda D. Renfroe
    li Amy and Paul Rentz
    li Mrs. Marie T. Reyman
    li Elaine Ribando
    li Angela M. Richards
    li Robin Richter
    li Ms. Maxine L. Riddle
    li Gloria G. Ritchie
    li Regina Rivello
    li Elmer and Joyce Roberts
    li Rita and George Robinson
    li Rock Spring United Methodist Women
    li Mr. and Mrs. Gerald Root
    li Jane W. Rotch
    li Bill and Joan Rough
    li Mrs. Dennis B. Russo
    li Winifred B. Sager
    li Sandra L. Schmidt
    li Dr. and Mrs. Stephen Schmitz
    li Mr. and Mrs. Harold E. Schrock
    li Eve and Herman Schwartz
    li Ed and Kathy Seroskie
    li Richard Settle
    li Peter J. Sevcik and Mary F. Martin
    li Dr. and Mrs. Hubert A. Shaffer, Jr.
    li Colonel and Mrs. Henry R. Shelton
    li Sara Anne Sherrard
    li Esther Shorr
    li Glenn R. Short
    li Leona T. Shulman
    li LaVere Shultz
    li Virginia Sibert
    li Marjorie S. Siegel and W. Allen Hard
    li Riitta K. Silverman
    li Barbara B. Smith
    li Phyllis Epps Smith
    li Janet and John Snyder, Jr.
    li Hal and Marie Souder
    li Don and Marian Spano
    li Doug and Virginia C. Sprouse
    li Ms. Pat F. Stevens
    li Mr. and Mrs. David J. Stone
    li C. Michael Stowers
    li Marcia M. Strait
    li Mary Lee Swift and Mr. Michael Jenks
    li Elvin and Betty Taylor
    li Marisa G. Taylor
    li Susie and Frank Taylor, M.D.
    li Lisa and Samuel Thacker
    li Mary Leigh Thacker
    li The Paramount Theater of Charlottesville
    li Sally and George Thomas, Jr.
    li James Thurston and Clarissa Seay
    li Betty Titterington
    li Clarasteen L. Tomes
    li Pamela Tomko
    li Gail Rita Wiener Troy
    li Terry and Sandra Tucker
    li Charles and Dorothea Utter
    li Mary C. Van Miller
    li Peggy and Mike Van Yahres
    li Susan VerSchneider
    li Martinus and Katherine Plunket Versluys
    li Hope S. Via
    li Robert and Mary Vickery
    li Kristin B. Vlahos-Shafer and Mr. Kerry Shafer
    li Mrs. Eleanor J. Wabnitz
    li Bob and Dolores Wack
    li J. Gregory and Martha B. Wall
    li Dr. and Mrs. White Mck. Wallenborn
    li Alexander Waller, Jr.
    li Marlene G. Walton
    li Judith and Richard Warner
    li Michael T. Waroblak
    li David and Hope Warren
    li Kimberly S. Warschaw
    li Deborah and J. Ralston Washington
    li Mary Lee Webb
    li Miss Barbara Whary
    li Judith Lee White
    li Ruth and Robert G. White, Sr.
    li William White
    li Marijke B. Wilcke
    li Wenche L. Wilkins
    li John and Valerie Williams
    li Pauline Williams
    li John and Susan Williamson
    li Lloyd and Margaret Willis
    li Dr. and Mrs. Michael R. Wills
    li Quanshé (Shay) Wilson
    li Mrs. Mary H. Winslow
    li Sarah F. Winston
    li Anne and Andrew Wolf, M.D.
    li Edna P. Wood
    li J. Edwin and Betty Woodson
    li Martin and Barbara Yates
    li Douglas H. Zanzot
    li Joan R. Zavala
    li Cynthia Zazakos

  h2 Cash and In-Kind Gifts to Mountainside Senior Living
  h4 Fiscal Year 2014 (October 1, 2013 - September 30, 2014)
  h3 $25,000 +
  ol.donors
    li Donovan Foundation
    li Federal Executive Institute
    li The Genan Foundation
    li Twice Is Nice

  h3 $10,000 - 24,999
  ol.donors
    li Emmanuel Episcopal Church (Greenwood)

  h3 $5,000 - 9,999
  ol.donors
    li Bama Works Fund of Dave Matthews Band, c/o CACF
    li Leslie L. Reed

  h3 $1,000 - 4,999
  ol.donors
    li Gerald and Karen Bollin
    li Brightview Baldwin Park
    li Sharon Britt
    li Eldon Budd
    li C2 Ink
    li Terry M. Coffey
    li Ms. Cheryl K. Cooper
    li Christian Dupont
    li ExxonMobil Foundation Matching Gifts Program
    li Ix Foundation
    li Walter and Carolyn Newsome
    li Sarah (May) Josephine Marshall Trust
    li Mrs. Frederic W. Scott

  h3 $500 - 999
  ol.donors
    li The Charles Fund, Inc.
    li Gladjon Interiors, LLC
    li Bette and Percy Wood

  h3 $100 - 499
  ol.donors
    li Albemarle Garden Club
    li Joseph W. Bernheim, M.D.
    li Patricia C. Blanton
    li Vito and Bevin Cetta
    li Thomas and Lesslie Crowell
    li Pam and M.E. (Dick) Gibson, Jr.
    li Mrs. Julann Griffin
    li A. Margarete and Dieter Groschel, M.D.
    li Linda and Ray Jacquin
    li Lisa A. Johnson
    li Marta M. Keane
    li Jeanne Keeler
    li Nancy L. Kelitl
    li Victor C. Lee and Ms. Nancy A. Holland
    li Ann H. Mallek
    li MJH Marketing & Communication Dept.
    li Ms. Elizabeth W. McNelis
    li Ann Ray
    li Mr. and Mrs. Joseph Richmond, Jr.
    li Paul W. Seal
    li VFW Auxiliary/Douglas Hall Kirby Post 8436
    li Gavin S. Willhide

  h3 Up to $99
  ol.donors
    li Mr. and Mrs. F.C Abell
    li James and Betty Adams
    li Mrs. Jennifer Alluisi
    li Ms. Katherine M. Baker
    li M. Jean Bradley
    li Richard P. Bucci
    li William M. Corley
    li Mrs. Charlotte W. Dollins
    li Milton T. Edgerton, M.D.
    li Nancy C. Mazzei
    li Russell and Bobbie Mooney
    li Teresa K. Omohundro
    li Leo and Frances Ponton
    li Joseph Walker Richmond, III
    li Charles and Norma Trible
    li David and Pamela Vadl
    li Kathleen C. Wilson
