#financials
  h2 Financials
  .revenues
    h3 Revenues ($5,850,624)
    #revenue-chart
    #revenue-table
      ol
        li.fed
          .budget-line Federal Government
          .amount $972,641
        li.state
          .budget-line State Government
          .amount $444,753
        li.local
          .budget-line Local Governments
          .amount $1,077,253
        li.investment
          .budget-line Investment Activities
          .amount $303,513
        li.fee
          .budget-line Fee-for-Service
          .amount $1,527,627
        li.philanthropy
          .budget-line Philanthropy
          .amount $885,762
        li.affiliate-revenue
          .budget-line Revenue from Affiliates
          .amount $639,075

  .expenses
    h3 Expenses ($5,681,970)
    #expense-chart
    #expense-table
      ol
        li.senior-center
          .budget-line Community Senior Center Operation
          .amount $736,173
        li.health
          .budget-line Health Services & Disease Prevention
          .amount $258,942
        li.meals
          .budget-line Home Delivered Meals
          .amount $517,165
        li.info-assist
          .budget-line Information & Assistance - Options Counseling
          .amount $679,214
        li.counseling
          .budget-line Insurance Counseling
          .amount $88,518
        li.ombudsmen
          .budget-line Ombudsmen Services
          .amount $114,151
        li.affiliate-expense
          .budget-line Affiliate Operation
          .amount $812,066
        li.care-center
          .budget-line Adult/Child Care Center Operation
          .amount $1,638,313
        li.transportation
          .budget-line Transportation & General Facility Operation
          .amount $837,428
