#fixed-header
  a(title='View as image' href='images/jaba-annual-report-2014.png' target='_blank')
    .circle
      .jaba-printer
  a(title='Jaba\'s Facebook' href='https://www.facebook.com/jaba.charlottesville' target='_blank')
    .circle
      .jaba-facebook
  a(title='Jaba\'s Twitter' href='https://twitter.com/jabacares' target='_blank')
    .circle
      .jaba-twitter
  a(title='JABA\'s Website' href='http://www.jabacares.org/' target='_blank')
    .circle
      .jaba-external-link
