#fixed-header
  a(title='PDF' href='jaba-annual-report-2014.pdf' target='_blank')
    .circle
      .pdf
  a(title='Facebook' href='https://www.facebook.com/jaba.charlottesville' target='_blank')
    .circle
      .jaba-facebook
  a(title='Twitter' href='https://twitter.com/jabacares' target='_blank')
    .circle
      .jaba-twitter-logo
  a(title='JABA Website' href='http://www.jabacares.org/' target='_blank')
    .circle
      .jaba-external-link
