#needs
  .container
    h2 Community Needs
    .navigating
      .block
        .circle
          .jaba-question
        .description 40% of seniors don't use the internet at all and require direct support navigating Medicare and accessing community resources
    .social-isolation
      .block
        .circle
          .jaba-old-man
        .description As much as 43% of older adults experience social isolation increasing their risk of serious physical and mental health problems
    .food-insecurity
      .block
        .circle
          .jaba-empty-plate
        .description In our planning district, food insecurity strikes 7.1% of people 65+
    .caregivers
      .block
        .circle
          .jaba-admitted
        .description Unpaid caregivers provided an estimated 90% of all long-term care in this country. Half admit that their health has suffered as a result
    .healthcare-reform
      .block
        .circle
          .jaba-costly-drugs
        .description 89% of seniors need more information about healthcare reform and its impact on Medicare, their own budgets, and their long-term security
    .institution
      .block
        .circle
          .jaba-costly-care
        .description As many as 89% of seniors want to age at home. More than half express concern about how they might be able to do so

