#places
  h2 Serving Virginia's Thomas Jefferson Planning District since 1975
  .munis
    span.virginia-nelson(title='Nelson County')
    span.virginia-charlottesville(title='Charlottesville City')
    span.virginia-albemarle(title='Albemarle County')
    span.virginia-louisa(title='Louisa County')
    span.virginia-fluvanna(title='Fluvanna County')
    span.virginia-greene(title='Greene County')
